body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('https://static.vecteezy.com/system/resources/previews/013/102/567/non_2x/modern-globe-world-map-holographic-projector-on-technology-background-vector.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #8bf171;
}

.App {
  text-align: center;
}

/* Navbar styling */
.nav-header {
  background: rgba(9, 9, 12, 0.932);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-header li {
  margin: 0 15px;
}

.nav-header a {
  text-decoration: none;
  color: rgb(56, 247, 9);
  font-size: 2rem;
  transition: color 0.3s;
}

.nav-header a:hover {
  color: #7d1cd8;
}

.profile-picture {
  width: 75px; /* Fixed smaller width */
  height: 50px; /* Fixed smaller height to make it square */
  object-fit: cover; /* Ensures the image fits into the square without distortion */
  border-radius: 50%; /* Makes the image a perfect circle */
  border: 2px solid #e271f1; /* Adds a decorative border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for a nice effect */
  margin: 20px auto; /* Centers the image with margin spacing */
  display: block; /* Centers the image in block layout */
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .profile-picture {
    width: 15px; /* Smaller size for mobile devices */
    height: 7px;
  }
}
